@import './variables.scss';


html,
body,
#root,
.App{
  margin: 0;
  padding: 0;
  height: calc(100% - 10px);
}

// *{
//   outline: 1px solid limegreen;
// }

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
  padding-inline-start: 0;
}

.navigation-bar{
  background-color:$primary-color; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.webpage-header{
  color: $font-color;
  flex: 0 1 5rem;
  position: relative;
  display: inline-block;
  padding: 0 3rem;
  transition: text-shadow .5s;

  &:hover{
    text-shadow:1px 1px #ffffff; 
  }

  &::after{
    content:'';
    position:absolute;
    width: 100%;
    transform: scaleX(0);
    top: 70px;
    height: 2px;
    left: 0;
    transform-origin: bottom left;
    background-color: #ffffff;
    transition: transform .5s ease-out;
  }

  &:hover::after{
    transform: scalex(1);
    transform-origin: bottom left;
  }
}

.homepage-container,
.leaderboards-container{
  @include page-positioning;

  background-color: $secondary-color;
  color: $font-color;
}

.homepage-container{
  flex-grow: 1;
  min-height: 100%;
  max-height: fit-content;
  row-gap: 4rem;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.instructions-container{
  display:flex;
  flex-direction: column;
  width: clamp(45ch, 50%, 55ch);
}

.instructions-article{
  display: flex;
  flex-direction: column;
}

.instructions-header{
  font-size: 1.5em;
  font-style: italic;
  align-self: center;
}


.instructions-text{
  font-size: max(1.2em, 1.2vw);
  padding: .5rem 2rem;
  line-height: 1.4em;
}

.map-selection-container{
  flex: 1 1 auto;
  display: grid;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  align-items: flex-start;
  justify-items: center;
  // grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &> a > img{
    height: auto;
    width: clamp(5rem, 20vw, 13rem);
    border-radius: 15px;
    box-shadow: 0px 5px 20px 1px;
    transition: transform .3s, box-shadow 1s;

    &:hover{
      cursor: pointer;
      transform: translateX(-3px) translateY(-3px);
      box-shadow:0 2px 10px 0 white; 
    }
  }
}


.leaderboard-selection-container{
  color: $font-color;
  background-color:$secondary-color;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-items: center;
  align-items: center;
  text-align-last: center;
  min-height: 100%;
  & > article > h2 {
    display: flex;
    justify-content: center;
  }

  & > article > a > img{
    border-radius: 15px;
    height: auto;
    width: max(5rem, 18vw);
    box-shadow: 0px 5px 20px 1px;
    transition: transform .3s, box-shadow 1s;

    &:hover{
      cursor: pointer;
      transform: translateX(-3px) translateY(-3px);
      box-shadow:0 2px 10px 0 white; 
    }
  }
}

.leaderboards-container{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 100vh;
  flex-wrap: wrap;
}


.leaderboards-table{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: flex-start;
  min-width: 40px;
  grid-auto-rows: 15px ;
  row-gap: 2.5rem;
  column-gap: 5rem;
  height: 100%;
  padding: 2rem 0;
}

.table-headers{
  display: flex;
  gap: 7rem;
  font-size: smaller;
}

.table-list{
  display: grid;
  grid-template-rows: 1fr;
}

.alias{
  font-size: 20px;
  font-weight: 600;
}

.score{
  font-style: oblique;
}

.gameview-container{
  position: relative;
  overflow: hidden;
}

.success-mark{
  padding: 30px;
  position: absolute;
  border: 3px solid red;
  border-radius: 40px;
  z-index: 999;
}

.gameview-container > img{
  display: flex;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.timer-container{
  background-color: rgba($color: $primary-color, $alpha: .8);
  color:$font-color;
  border-radius: 40px;
  padding:1.5vw 2vw;
  font-size: 2vw;
  position: fixed;
  right: 5%;
  top: 15%;
}

.characters-container{
  background-color: rgba($color: $primary-color, $alpha: .8);
  grid-template-rows: repeat(3, 1fr);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 40px;
  padding: 1rem 1rem;
  position: fixed;
  left: 5%;
  top: 15%;
}

@media (max-width: 515px){
  .characters-container,
  .timer-container{
    margin-top: 20%;
  }
}

.character-data-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.character-name{
  font-family: $font-family;
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.7vw;
  font-variant: small-caps;
}
.character-data-container > img {
  flex: 1 1 5vw;
  max-width: 5vw;

  &.selected{
    opacity: .5;
  }
}

.dropdown-container{
  background-color: rgba($color: $primary-color, $alpha: 1);
  border-radius: 15px;
  position: absolute;
  display: none;
  top: 0px ;
  left: 0px ;
  overflow: hidden;
}

.dropdown-container > ul{
  justify-content: center;
  align-items: center;
}

.character-list{
  display: flex;
  flex-direction: column;
  padding:none;
}

.character-list > .character-name{
  flex-grow: 1;
  width: 100%;
  border-radius: 15px;
  
  &:hover{
    background-color: $secondary-color;
  }
  &:active{
    box-shadow: 1px 1px 1px 1px $primary-color;
    transform: translateY(2px);
  }
  &>button{
    padding: .2rem 3vw;
    border: none;
    background-color: transparent;
  }

}

.close-dropdown-button{
  flex-grow: 1;
  width: 100%;
  border-radius: 15px;
  border: none;
  background-color: transparent;
  font-family: $font-family;
  color: red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: .6rem;
  font-weight: 500;
  font-variant: small-caps;
  padding: .2rem 3vw;
  font-size: 1.5vw;

  &:hover{
    background-color: rgb(235, 79, 79);
    color: black;
  }
}

.succesful-click{
  flex-grow: 1;
  width: 100%;
  color: rgb(113, 238, 113);
  font-family: $font-family;
  display: flex;
  gap: .5rem;
  padding: 0 2vw;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.5vw;
  font-variant: small-caps;
}

.background-brightness-wrapper{
  position: fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  backdrop-filter: brightness(20%);
  z-index: 1;
}

.game-win-modal-border{
  background-color: $primary-color;
  border-radius: 15px;
  min-height: max(128px, 31.2vw);
  min-width: 36vw;
  padding: 3px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 10%;
  transition: margin-top .5s ease-out, opacity .8s, visibility .5s linear;
}

.game-win-modal-border.show{
  opacity: 1;
  visibility: visible;
  margin-top: 0;
  transition: margin-top .5s ease-out, opacity .8s, visibility .5s linear;
}


.game-win-modal{
  font-size: 2vw;
  color: $font-color;
  background-color: $primary-color;
  min-height: max(100px, 29vw);
  // min-height: 30vw;
  min-width: 35vw;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-value{
  font-weight: bolder;
}

.form-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  &>input{
    color: $font-color;
    padding:.8vw;
    border:none;
    background-color: transparent;
    outline: none;
    font-size: 1.2vw;
    width: 10vw;

    &::placeholder{
      color: $font-color;
    }
  }
}


.input-hr{
  width: 100%;
  margin-top: -1rem;
}

.alias-form{
  display: flex;
  justify-content: space-between;
  align-content: center;
  column-gap: 5vw;

  &> button{
    align-self: center;
    font-size: max(1vw, .2rem);
    font-family: $font-family;
    width: clamp(2rem, 9vw, 10rem);
    height: 5vw;
    border-radius: 40px;
    color: $font-color;
    border: 1px solid white;
    background-color: transparent;

    &:hover{
      background-color: white;
      color:$primary-color;
      border:1px solid $primary-color;
    }
  }
}

.form-buttons{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;

  &> a >button{
    font-size: max(1.5vw, .2rem);
    font-family: $font-family;
    width: clamp(2.5rem, 10vw, 10rem);
    height: 4vw;
    border-radius: 40px;
    color: $font-color;
    border: 1px solid white;
    background-color: transparent;
  }

  & > a >.leaderboard-button{
    width: clamp(3rem, 13vw, 10rem);
    font-size: max(1.2vw, .1rem) ;
  }
}



